<%= form_with model: @job do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, required: true, minlength: 2, placeholder: 'Title' %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content, required: true, minlength: 2, placeholder: 'Content' %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.text_field :status, required: true, minlength: 2, placeholder: 'Status task' %>
  </div>

  <div>
    <%= f.label :estimation %>
    <%= f.number_field :estimation, numericality: { only_integer: true }, required: true,
    minlength: 1, placeholder: "Estimation task " %>
  </div>

  <div>
    <%= f.label :start_date %>
    <%= f.datetime_field :start_date, required: true,  placeholder: "StartDate task " %>
  </div>

  <div>
    <%= f.label :due_date %>
    <%= f.datetime_field :due_date, required: true,  placeholder: "Enddate task " %>
  </div>

  <%= f.submit "Submit task!" %>
  <% end %>
