<% @job.errors.full_messages %>

<%= render 'shared/errors', object: @job %>


<%= form_with model: @job do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :title, required: true, minlength: 2, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :content %>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :content, required: true, minlength: 5, placeholder: 'Content', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :status %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :status, required: true, minlength: 2, placeholder: 'Status task', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :estimation %>
    </div>
    <div class="col-sm-10">
      <%= f.number_field :estimation, in:1..100, step: 1, numericality: { only_integer: true }, required: true,
          minlength: 1, placeholder: "Estimation task ", class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :start_date %>
     </div>
    <div class="col-sm-10">
      <%= f.datetime_field :start_date, required: true,  placeholder: "StartDate task", class: 'form-control'  %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :due_date %>
    </div>
    <div class="col-sm-10">
      <%= f.datetime_field :due_date, required: true,  placeholder: "Enddate task", class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= f.submit "Submit task!", class: 'btn btn-primary' %>
  </div>
  <% end %>
