<h2 class="mb-4"><%= @project.name %></h2>

<time datetime="<%= @project.formated_created_at %>">
  <%= @project.formated_created_at %>
</time>

<p class="lead my-3">
  <%= @project.summary %>
</p>

<p class="my-2">
  <%= @project.start_date%>
</p>

<p class="my-2">
  <%= @project.due_date%>
</p>

<%= link_to 'Show', project_path(@project), class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-secondary' %>


<hr class="my-3">

<h2>Write your Task for Project - "<%=@project.name%>" </h2>

<%= render 'shared/errors', object: @job %>

<%= form_with model: [@project, @job] do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :title, required: true, minlength: 2, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :content %>
    </div>
    <div class="col-sm-10">
      <%= f.text_area :content, required: true, minlength: 5, placeholder: 'Content', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :status %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field :status, required: true, minlength: 2, placeholder: 'Status task', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :estimation %>
    </div>
    <div class="col-sm-10">
      <%= f.number_field :estimation, in:1..100, step: 1, numericality: { only_integer: true }, required: true,
          minlength: 1, placeholder: "Estimation task ", class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :start_date %>
     </div>
    <div class="col-sm-10">
      <%= f.datetime_field :start_date, required: true, placeholder: "StartDate task", class: 'form-control'  %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :due_date %>
    </div>
    <div class="col-sm-10">
      <%= f.datetime_field :due_date, required: true,  placeholder: "EndDate task", class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <%= f.submit "Submit task!", class: 'btn btn-primary' %>
  </div>

<% end %>

<h2 class="mt-5">Tasks</h2>

<% @jobs.each do |job| %>
  <article class="mb-3">
    <time datetime="<%= job.formated_created_at %>">
      <%= job.formated_created_at %>
    </time>

    <p>
      <%= job.content %>
    </p>


<%= button_to 'Delete', project_job_path(@project, job), class: 'btn btn-danger', method: :delete %>


  </article>
<% end %>
